
body{
    background-color: rgb(255, 89, 0);
}


header{
    margin-top: -8px;
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid white;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.logo{
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: 0.8s  ease-out;
    font-weight: 900;

}
.logo:hover{
    transform: scale(1.3);
    color: rgb(13, 153, 247);

}
.nav{
    margin-top: 0.5rem;
    margin-right: 3rem;
    display: flex;
    list-style: none;
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav ul li a{
 text-decoration: none;
 text-transform: capitalize;
 padding-left: 20px;
 color: rgb(251, 253, 255);
 transition: 0.8s;
}

.nav ul li a:hover{
    color: rgb(5, 32, 100);
    display: inline-block;
   transform: scale(1.1);
}
.btn{
    margin-left: 20px;
    background-color: yellow;
    border-radius: 15px;
    transition: 0.5s;
    height: 40px;
     margin-top: 4PX;}
.btn:hover{
    background-color: rgb(255, 56, 1);
    cursor: pointer;
}

.main{
    height: 300px;
    width: 100%;
    display: flex;
    color: aliceblue;
}
.word{
    text-transform: uppercase;
    margin: 50px;
    margin-top: 50px;
    width: 50%;
    height: 50px;
}
.main-pic{
    width: 50%;  
    margin: 20px;
}

.pic1{
    widows: 400px;
    height: 400px;
}
@media screen and (min-width: 300px) {
    .pic1{
    margin-top: 50px;
    width: 200px ;
    height: 200px;
  
}
}
@media screen and (min-width: 900px) {
    .pic1{
    width: 300px ;
    height: 300px;
    }
}



@media screen and (min-width: 1200px) {

    .pic1{
    width: 400px ;
    height: 400px;
    margin-left: 50px;
}
.word{
    margin-top: 200px;
}
}


.btn1{
color: aliceblue;
font-weight: 700;
height: 30px;
width: 40px;
background-color: rgb(215, 158, 15);
}

.btn2{
    color: aliceblue;
    font-weight: 200;
    margin-left: -5px;
    height: 30px;
    width: 80px;
    background-color: rgb(141, 4, 4);
}
/*menu*/

.menu{
margin-top: 50px;
color: aliceblue;
text-align: center;
}
@media screen and (min-width: 300px) {
    .menu{
        margin-top: 100px;
    }
   
    }
@media screen and (min-width: 900px) {
    .menu{
        margin-top: 150px;
    }
    }

@media screen and (min-width: 1200px) {
.menu{
    margin-top: 400px;
}
}


.item1{
    display: flex;
    margin: auto;
    width: 400px;
    height: 50px;
    margin-top: 50px;
    background-color: rgb(125, 8, 8);
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    
    
}

.desc1{
    margin-left: 190px;
}
a{
    color: aliceblue;
}

.Gategories{
    margin: auto;
    text-align: center;
    align-items: center;
    color: aliceblue;
    margin-top: 50px;
}

.pic2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-around;

}
.p1{
    width: 200px;
    height: 100px;
    border-radius: 20px;
    border: solid rgba(255, 255, 255, 0.682) 6px;
    background-size: cover;

}
.p2{
    width: 200px;
    height: 100px;
    border-radius: 20px;
    border: solid rgba(255, 255, 255, 0.682) 6px;
    background-size: cover;
}
.product{
    margin: auto;
    text-align: center;
    align-items: center;
    color: aliceblue;
    margin-top: 50px;
}
.imgs{
display: flex;
align-items: center;
justify-content: center;
}

.cards1{
    margin-top: 50px;
    width: 200px;
    height: 250px;
    background-color: rgb(249, 158, 0);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.p3{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    border: solid rgba(255, 255, 255, 0.682) 6px;
    background-size: cover;
    margin-top: 30px;
}
